.home-page-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("https://media.istockphoto.com/photos/software-development-system-engineer-programming-digital-picture-id1288009387?s=2048x2048");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
